*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

table{
/* border: 2px solid blue; */
border-collapse: collapse;
width: 70%;
margin: auto;
}

 td{
    border-bottom: 1px solid grey;
    padding: 15px;
    font-size: 15pv;
    /* text-align: center; */
}
tr{
    border-bottom: 1px solid grey;
    padding: 15px;
    font-size: 8pv;

}
thead{
background-color: rgb(14, 14, 80);
color: aliceblue;
text-align: center;
text-transform: capitalize;
}

th{
    font-size: 25px;
    padding: 15px;
    text-align: left;
}
.fail{
    color: red;
}
.pass{
    color: green;
}

caption{
font-size: 30px;
text-transform: capitalize;
    
}